body {

  background-color: #EEE;

}
 
.main-presentation {
 text-align:center ;
 background-color: blue;
 height: 650px;
 padding: 20%;
}

.main-about {

  background-color: #EEE;

}

 button {

  background-color: #0d6efd ;
  color: #EEE;
 }
 
 a {
    color:#8b8787;
  }

  a:hover {

    color: white;
  }