











/*Main components CSS*/



body {

  background-color: #EEE;

}







.nav-button {

   background: none;
   color: #8b8787;
   border: none;
}

.nav-button:focus {
  border: none;
  color:  #EEE;
  outline: none; 
}

.nav-button:hover {

  color: #EEE;


}

 

.navbar {

  background-color: #1e1e1e;
  width: 100%;
  z-index: 999;
}


.main-presentation {
  
  color: white;
  background-color: darkblue;
  background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../public/background.jpg)  ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding: 15%;
}
   
.about-layout {

  padding-top: 2%;
  padding-bottom: 4%;
  padding-left:0;
  padding-right:0 ;
 }

.container {
  padding: 2%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  

}

.container-fluid {

  background-color: rgb(226, 225, 225);

}

.Foot{

  background-color: #000000;

}
 
.footerElement {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;

}

 .logoDiv {

  width: 150px;

 }

.linkLogo {

  width: 30px;
  height: 30px;
 
}
 
a {
    color:#8b8787;
  }

a:hover {

  color: white;
  }

.services-title {

  height: 300px;
  padding: 2%;
}

.aboutHr {
  
  border: 1px solid #0d6efd ;


}

.titleHr {

  border: 2px solid #0d6efd ;
  width: 200px;

}

.badge {

  color: #0d6efd  ;

  }

.text-body {

  color: black;

  }

.middlefoot {

  color: white;

}

.nav-link.active {

 color: white;

}




/*SERVICES CSS*/


.Services  {

  background: #EEE;
  height: 100%;
  width: 100%;
  margin: 0;


}

 

.Banner {
  height: 300px;
  min-width: 100%;
  background-image: url(../public/background.jpg);
   
  
  


}

.services-row {
  margin-bottom: 100px;
  min-width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.services-title {

  height: 250px;
  width: 100%;
}

.services-display1, .services-display2,  .services-display3 {
  height: 460px;
  min-width: 250px;
  padding:4%;
  background-color: white;
  margin-bottom: 10px;
   
  
}

 

.services-logo {

  width:20%;
  height:20% ;


}



/*REALISATIONS CSS*/


.realisations {

  background: #EEE;
  height:100% ;
   width:100% ;


}

 

 

.real-title {

  margin-top: 50px;
  height:150px;
  width: 100%;


}

.card-img-top {


  height: 400px;
  border: 1px solid rgba(0, 0, 0, .125);
   
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
   
}


.card-deck {
  

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
   
  
}

.card {
  
  margin-left: auto;
  margin-right: auto;
  min-width:30%;
  border: 0;
  background-color: transparent;
   
}



.card-body {

  border: 1px solid rgba(0, 0, 0, .125);
  font-size: large;
  text-align: center;
  background-color: white;
}




.card-footer{

  border: 1px solid rgba(0, 0, 0, .125);
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #EEE;
}

.card-btn {

    
  font-size: large;

}

 

.services-display1 h2, .services-display2 h2,  .services-display3 h2 {

  font-size: x-large;

}

/*TABLETTE*/

@media screen and (max-width:980px)   {  
 
/*SERVICES CSS*/


  .services-display1, .services-display2,  .services-display3 {
     
    min-width: 210px;
    
  }




/*REALISATIONS CSS*/


 


.card-deck {
  
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}

.card {
  margin-left: auto;
  margin-right: auto;
  min-width: 440px; 
  background-color: transparent;
   
}



}